.footer {
 
padding: size(70, 40) 0;
border-top: 1px solid #AEB8B0;
&__item{
  .descr{
    color: #AEB8B0;
    margin-bottom: 2.5rem;
  }
}
.wrapper{
  padding: 3rem 0;
}
&__link{
  margin-bottom: 2rem;
&:hover{
  color: $ac;
}
}

}
