.form {
  &__title{
    margin-bottom: 2rem;
  }


  &__item{
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;


    input{
      color: #fff;
      width: 100%;
      border: 2px solid #AEB8B0;
      background: transparent;
      border-radius: 1.5rem;
      padding: 2rem 3rem;
      transition: all .3s ease-in-out;

      &::placeholder{
      font-weight: 500;
      color: #AEB8B0;

      }
      &:focus-visible{
        outline: none;
        border: 2px solid $ac;
      }
    } 

    &.valid{
  .form__check{
    opacity: 1;
  }
    }
    &.invalid{
      color: #FF1616;
      input, textarea{
        color: #FF1616;
        border: 2px solid #FF1616;
      }
    }

   

  }
  &__checkbox{
    input{
      display: none;
    }
  .check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: 0 0;
    border: 2px solid #AEB8B0;
    border-radius: 5px;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
  }
}
  
  &__message{
    height: 1.8rem;padding-left: 1rem;
    margin-top: 0.5rem;
  }
  &__check{
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 2rem;
    right: 3rem;
    z-index: 5;
    opacity: 0;
    transition:  opacity .35s linear;
  }
&__request{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 5rem;
}
&__sale{
  .form__message{
    margin-bottom: 0.5rem;
  }
}
.btn{
  max-width: 100%;
  width: 100%;
}
}
