.gallery {
  &-skin{
    height: size(1000, 300);
  }
.title{
  margin-bottom: 0;
}
&__title{
  margin-bottom: 6rem;
}
  &__nav {
    justify-content: center;

    button {
      width: size(85, 50);
      height: size(55, 30);
      margin: 0 2rem;
      background-color: transparent;
      border: 2px solid $ac;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 2rem;
      transition: all 0.3s linear;
      &:focus,
      &:focus-visible {
        outline: none;
        border-color: $ac;
      }
      &:hover {
        transform: scale(1.01);

      }
  
    }
  }
  .wrapper{
    width: 100%;
    height: calc((100% - 21.5rem) / 2);
    left: 0;
  }
  &-swiper{
    height: 100%;
  }
  .swiper-slide{
    display: flex;
    flex-wrap: wrap;
    .image{
      &:nth-child(1){
        width: 60%;
      }
      &:nth-child(2){
        width: 40%;
      }
      &:nth-child(3){
        width: 40%;
      }
      &:nth-child(4){
        width: 60%;
      }
    }
  }
  &__btn{
    padding: 2rem 0;
    button{
      width: 50rem;
    }
  }
  // .swiper-slide {
  //   min-height: 35rem;
  //   position: relative;

  //   img {
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //     object-position: center;
  //   }
  // }
}
