@media (min-width: 1500px) {

.section{

    padding: 7.5rem  0;

  &__title{
    margin-bottom: 2rem;
    padding: 2rem 0;
  }

}  .fz-18 {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  .fz-24 {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .fz-45 {
    font-size: 4.5rem;
    line-height: 5.4rem;
  }
  .fz-36 {
    font-size: 3.6rem;
    line-height: 3.8rem;
  }

  .fz-40 {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .fz-64 {
    font-size:6.4rem;
    line-height: 7.5rem;
  }
  .title{
    margin-bottom: 5rem;
  }
//
.main-screen{
  margin-top: 10rem;
  &__title{
    font-size: 6rem;
    line-height: 7.2rem;
   
  }
  &__subtitle{
    font-size: 3.5rem;
    line-height: 6rem;
    width: 70%
  }
}
.price{
  &__item{
    height: 70rem;
  }
  &__title{
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
}
.gallery{
  &-skin{
    height: 100rem;
  }
  &__nav{
    button{
      width: 8.5rem;
      height: 5.5rem;

    }
  }
}
.footer{
  padding: 7rem 0;
}




    

}

@media (max-width: 1200px) {
  .logo{
    width: 17rem;
    height: 7rem;
  }
  .social{
    &__item{
      margin: 0 1rem;
    }
  }
  .header{
    .btn_outline{
      padding: 1rem 2rem;
    }
  }
//   .header{

// &__contacts{
//   position: relative;
//   flex-direction: column;
//  justify-content: center;
//  a{
   
//   margin-bottom: .5rem;

// }
 
//  }
//  .btn{
//    width: 18rem;
//  }
//   }
}

@media (max-width: 992px) {

  .header { 
     top: 0;
    &__menu {
      position: absolute;
      top: 0;
      right: -100vw;
      padding: 5rem 0;
      height: 100vh;
      width: 96vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: right 0.3s linear;
      z-index: 90;
      
      &::before{
        content: '';
        position: absolute;
        top: 0;
      
        width: 100%;
        height: 100%;
        background: rgba( 0, 0, 0, 0.85 );
        box-shadow: 0 8px 32px 0 rgba( 0, 128, 55, 0.37 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );

     

      }
      &.active {
        right: 0;
   
      }
      .social{
        flex-direction: column;
margin: 5rem 0;
        &__item{
          margin: 1rem 0;
          display: flex;
      

    
        }
        &__descr{
          display: block;
          margin-left: 1rem;
        }
      }

    }
   
    .btn_outline{
      height: 5rem;
    }
&__contacts{
flex-direction: column;
margin: auto 0 2rem;

a{
  margin: 0 0 1rem;
}
h3{
  margin-bottom: 2rem;
}
&::after{
  position: absolute;
  width: 100%;
  height: 1px;
  opacity: .8;
  background: #fff;
  content: '';
  left: 0;
  bottom: 0;
}
}
  }
  .main-screen{
    &__subtitle{
      width: 80%;
    }
  }
.advantages{
  &__action{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    bottom: 0;
    
  }
}
  .form{
    &__item{
      margin-right: 0;
      &_btn{
        margin-left: 0;
      }
      
    }


    }

  .how-work{
    &__item{
      flex-direction: column;
      align-items: center;
      &.triangle{
        &::after{
          top: 5rem;
        }
      }
    }
  }
  .modal{
    &__callback{
      .form__item{
        margin-bottom: 2.5rem;
      }
    }
  }

}

@media (max-width: 768px) {

  .main-screen{
    &__subtitle{
      width: 100%;
    }
  }


.form{
&__request{
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

  
}
.advantages{
  .image{
    height: 30rem;
  }

}
.price{
  &__item{
    margin-bottom: 2rem;


  }
}
.gallery{
  &__nav{
    button{
      padding: .5rem 1.5rem;
    }
  }
  &__title{
    margin-bottom: 4rem;
  }
  .wrapper{
  
    height: calc((100% - 18rem) / 2);
   
  }
}

.how-work{
  &__item{
    flex-direction: row;

    padding: 1rem 0;
    &.triangle{
      padding-right: 0;
      padding-bottom: 2rem;
      &::after{
        bottom: -2.5rem;
        top: auto;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 2rem solid $ac;

      }
    }
  }
}
.sale{
  .form{
    width: 100%;
  }
  &__img{
    order: 1;
    .image{
      img{
        transform: scale(1.2);
      }
    }
  }
  &__descr{
    order: 2;
    div:first-child{
      align-items: center;
    }
  }
}

.modal{
  &__body{
   
    padding: 2rem;


  
  }
  &__callback{

    min-height: auto;
    h2{
      margin-bottom: 3rem;
    }
    .form__item{
      margin-bottom: 1.5rem;
    }
  }
  &__sign{
    h2{
      margin-bottom: 3rem;
    }
  }

&__close{
  top: 2rem;
  right: 2rem;
}

}

}

@media (max-width: 600px) {
.header{
  &__menu{
    .lang-switcher{
      margin-bottom: 8rem;
    }
  }
}
.main-screen{
  .btn{
    max-width: 24rem;
  }
}
  .section{
    &__main-screen{
      padding-top: 8rem;
    }
  }

.price{
  &__item{
    height: 100%;
    margin-bottom: 0;
  }
  .col-12{
    margin-bottom: 2rem;
  }
}



.form{
  &-section{
    padding: 2rem 1rem;
  }
&__item{
  input{
    padding: 1rem 1.5rem;
  }
}
&__check{
  top: 1rem;right: 1.5rem;
}

}
.gallery{
  &__nav{
    button{
      padding: .5rem 1rem;
      margin: 0 .5rem;
    }
  }
  &__btn{
    padding: 1rem;
    button{
      width: 100%;
    }
  }
  &__title{
    margin-bottom: 3rem;
  }
  .wrapper{
  
    height: calc((100% - 14rem) / 2);
   
  }
}
.how-work{
  .wrapper{
    padding: 1rem 0;
    margin-bottom: 0;
  }
  &__item{
    flex-direction: column;
    margin-bottom: 2rem;
  
  
    &.triangle{

      &::after{
        bottom: -1rem;


      }
    }
    .text{
      padding: 0;
    }
    
  }
}
.sale{
.form{
  width: 90%;
}
  &__img{
    
    .image{
      height: 20rem;
      img{
        transform: scale(1.1);
      }
    }
  }
.btn{
  margin-top: 1rem;
}
}
.footer{
  .menu{
    flex-direction: column;
    &__item{
      padding: .5rem 0;
    }
  }
}
.modal{
  &__form{
   
    .form{
      &__title{
        margin-bottom: 1rem;
      }
  
    }
  }
  // &__callback{

  //   min-height: 50rem;
  // }


}


}


@media (max-width: 320px) {
}
