.modal {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  background: rgba( 0, 0, 0, 0.5 );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
 display: flex;
 padding: 2rem;
 transition: all 0.3s;
  &__body {
    position: relative;
    
    padding: 3rem 4rem;
    background: #FFFFFF;
    border-radius: 2rem;
    max-width: 95rem;
    width: 100%;
    min-height: 34rem;



    &.success, &.error{
 
      max-height: 35rem;
      display: flex;
    align-items: center;
  justify-content: center;
  .modal__close{
    background: $fc;
    border-radius: 50%;
  }
  
    
    }
    &.error{
      max-width: 35rem;
      height: 15rem;
    min-height: auto;
    display: flex;
    align-items: center;
  justify-content: center;
    }
    &.success{
      .success-content{
        text-align: center;
          .icon{
            margin-bottom: 3.5rem;
          }
          h2{
            margin-bottom: 1rem;
          }
      }
    
    }
  }
  &__callback{
    max-width: 63rem;
    width: 100%;
    // min-height: 63rem;
    h2{
      margin-bottom: 4rem;
    }
    .form__item{
      margin-bottom: 3.5rem;
    }
    input{
      padding: 2rem;
      
      color: $fc;
    }

  }
&__sign{
  h2{
    margin-bottom: 4rem;
  }
}
  
  &__title{
    width:60%;
    .form{
      &__title{
        font-weight: 400;
      }
      &__subtitle{
        font-weight: 700;
        
      }
    }
  }

  &.hide {
    opacity: 0;
    visibility: hidden;

  
  }
  &.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;

  }

&__close{
  
  top: 3rem;right: 4rem;
  width: 3rem;height: 3rem;
  transition: all .3s linear;
  z-index: 80;
  &:hover{
transform: rotate(90deg);
  }
 

}

}

