.price {
  position: relative;
  &::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;left: 0; 
    content: '';
    background: rgba(0,0,0,.1);
  backdrop-filter: blur(5px);
  }
  h2{
    position: relative;z-index: 1;
  }
&__item{
  position: relative;z-index: 1;
  border-radius: 15px;
  background: rgba( 0, 0, 0, 0.5 );
  // box-shadow: 0 8px 32px 0 rgba( 0, 128, 55, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
 height: size(700, 350);
 display: flex;
 flex-direction: column;
  padding: 4rem 2rem;
  position: relative;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all .35s linear;
  &:hover{
    border: 4px solid #008037;
box-shadow: 0px 4px 20px #008037;
  }
  .btn{
    width: 100%;
  }
}
&__title{
  font-size: size(35, 21);
  line-height: size(45, 30);
  margin-bottom: 4rem;

}
&__list{
  margin-bottom: auto;
  &-item{
    margin-bottom: 2rem;
    text-align: left;
    .text{
      margin-left: 2rem;
    }
    span:first-child{
      width: 1.7rem;
      height: 1.7rem;
    }
  }
}
&__cost{
  margin-bottom: 5rem;
}
}
