.project {
&__header{
  margin-bottom: 9rem;
}
&__footer{
  .about{
    &__descr{
      padding: 6rem 6rem 6rem 0;
    }
    &__image{
      width: 100%;
      height: 100%;

      .image{
        height: 100%;
        width: 44rem;
        // width: 100%;    
          margin-left: auto;
          &::after{
            content: '';
            position: absolute;
            width: 50%;
            height: 80%;
            border: 5px solid #FFC700;
            left: -9rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
          }
      }

    }
  }
  .descr{
padding-left: 0;
   p{
     margin-bottom: 4rem;
   }
  }
}
&__author{
  text-align: right;
}
}
