.sale{
  .form{
    width: 80%;
  }
  &__img{
    .image{
      width: 100%;
      height: 30rem;
      img{
        object-fit: contain;
        transform: scale(1.5);
      }
  
  
    }
  }
  .btn{
    margin-top: 3rem;
  }
  
  

}