.section {
  padding: size(80, 30) 0;
&__main-screen{
  height: 100vh;
  
  padding: 15rem 0 5rem;
position: relative;


  z-index: 1;



}
&__project{
  padding-top: 10rem;
}
&__about-us{
  padding-bottom: 8rem;
}
&__team{
padding-top: 0!important;
.counter{
  margin: 0 1rem;
}
.swiper__nav{
  margin-left: 0;
}
}
&__reports{
  .counter{
    margin: 0 1rem;
  }
  .swiper__nav{
    margin-left: 0;
  }

}
&__footer{
  padding-bottom: 4rem;
  background: #415262;
}
&__needs{
  padding-bottom: 0!important;;
}
&__gratitude{
  .title-big{
    left: 0;
    top: size(-80, -30);
    @media (min-width: 1500px) {
      top: -8rem;
    }
  }
}

}
